#footer__redes--ig {
  width: 100px; }

#footer__redes--ds {
  width: 125px; }

#header__logo {
  background-color: blueviolet;
  text-align: center;
  padding: 10px;
  font-size: 90px;
  text-shadow: 5px 5px 5px #000000; }

#body {
  color: white;
  background-color: black; }

#footer__redes {
  font-style: none;
  display: inline-block;
  position: relative;
  left: 1680px; }

#article__formasdepagotexto {
  display: block;
  text-align: center; }

#article__formasdepagoh2 {
  font-size: 40px;
  color: blueviolet;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 10; }

#article__formasdepagoli {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
  list-style-type: square; }

#article__imagenjuegos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch; }

#article__fuenteseleccionar {
  border-bottom: solid white 3px;
  color: blueviolet;
  font-weight: bold; }

#article__listaservicios1, #article__listaservicios2, #article__listaservicios3, #article__listaservicios4, #article__listaservicios5 {
  border: solid blueviolet;
  color: blueviolet;
  background-color: white;
  font-weight: bold;
  color: yellow; }

.body__margintop {
  margin-top: 50px; }

@media (max-width: 768px) {
  #header__logo {
    background-color: red;
    font-size: 50px; } }

.servicios-1 {
  border: solid blueviolet;
  color: blueviolet;
  background-color: white;
  font-weight: bold;
  color: yellow; }

.servicios-2 {
  border: solid blueviolet;
  color: blueviolet;
  background-color: white;
  font-weight: bold;
  color: yellow; }

.servicios-3 {
  border: solid blueviolet;
  color: blueviolet;
  background-color: white;
  font-weight: bold;
  color: yellow; }

.servicios-4 {
  border: solid blueviolet;
  color: blueviolet;
  background-color: white;
  font-weight: bold;
  color: yellow; }

.servicios-5 {
  border: solid blueviolet;
  color: blueviolet;
  background-color: white;
  font-weight: bold;
  color: yellow; }

.brTextColor {
  font-size: 40px;
  color: green; }

.argTextColor {
  font-size: 40px;
  color: green; }

.otrosTextColor {
  font-size: 40px;
  color: green; }
